@font-face {
  font-family: Lobster;
  src: url(../fonts/Lobster_1_4.otf); }

@font-face {
  font-family: bebasneue;
  src: url(../fonts/BebasNeue.otf); }

@font-face {
  font-family: opensan;
  src: url(../fonts/OpenSans-Light.ttf); }

body {
  font-family: bebasneue !important;
  margin: 0px;
  padding: 0px; }

.header #logo {
  color: #00CAB6;
  font-family: Lobster; }

.header .search-bar {
  margin-top: 30px;
  margin-bottom: 30px; }

.header .cart {
  position: relative; }
  .header .cart img {
    margin-left: -140px;
    margin-top: 24px; }
  .header .cart span {
    font-size: 30px;
    color: #bababa;
    font-family: bebasneue;
    position: absolute;
    right: 37px;
    top: 30px; }

@media only screen and (max-width: 800px) {
  .cart {
    position: relative; }
    .cart img {
      margin-left: 0px !important;
      margin-top: 24px; }
    .cart span {
      font-size: 30px;
      color: #bababa;
      font-family: bebasneue;
      position: absolute;
      right: 37px;
      top: 30px; } }

@media only screen and (max-width: 600px) {
  .cart {
    position: relative; }
    .cart img {
      margin-left: 0px !important;
      margin-top: 24px; }
    .cart span {
      font-size: 30px;
      color: #bababa;
      font-family: bebasneue;
      position: absolute;
      right: 37px;
      top: 30px; } }

.navbar {
  background: #00D6C2 !important;
  min-height: 40px !important;
  box-shadow: 0px 0px 1px #888888;
  border: none !important; }
  .navbar ul {
    margin: 0 auto;
    height: auto; }
    .navbar ul li {
      border-left: 2px solid #FFFFFF;
      height: 20px;
      margin-top: 10px;
      overflow: hidden;
      line-height: 40px; }
      .navbar ul li:first-child {
        border-left: none; }
    .navbar ul a {
      color: #FFFFFF !important;
      font-size: 20px;
      height: 20px;
      line-height: 40px;
      text-transform: uppercase;
      margin-left: 14px;
      margin-right: 10px;
      padding-top: 0px !important;
      padding-bottom: 0px !important; }
      .navbar ul a:hover {
        color: #d9d9d9 !important; }

@media only screen and (max-width: 800px) {
  .navbar ul li {
    border-left: none; }
  .navbar ul a {
    font-size: 14px;
    margin-left: 0px;
    margin-right: 0px; } }

.slider {
  margin-top: -21px;
  background: #00CAB6;
  height: 400px; }
  .slider #slider {
    height: 400px;
    padding-top: 50px; }
    .slider #slider h3 {
      color: #FFFFFF;
      font-size: 60px;
      margin-right: 100px; }
    .slider #slider p {
      color: #FFFFFF;
      font-family: opensan;
      font-weight: bold; }
    .slider #slider a {
      color: #FFFFFF;
      text-transform: uppercase;
      border: 3px solid #FFFFFF;
      border-radius: 10px;
      font-weight: bold;
      font-size: 25px; }
      .slider #slider a:hover {
        border: 3px solid #e6e6e6;
        color: #e6e6e6; }

.categories .container {
  width: 90%; }

.categories .category-heading {
  margin-top: 20px;
  color: lightgray;
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 24px;
  margin-right: 60px; }

.categories .btn {
  font-size: 15px;
  color: white;
  font-weight: bolder;
  background: #a3d7a3; }
  .categories .btn:hover {
    background: #5cb85c;
    color: white; }

.categories .cate {
  padding-top: 20px;
  padding-bottom: 20px;
  border-right: 1px solid lightgray;
  width: 33%; }
  .categories .cate:last-child {
    border-right: none; }
  .categories .cate .media img {
    margin-left: 40px;
    width: 132px;
    height: 132px; }

.categories .multi-item-carousel .carousel-inner .item {
  -webkit-transition: 100ms ease-in-out left;
  transition: 100ms ease-in-out left; }

.categories .multi-item-carousel .carousel-inner .active.left {
  left: -33%; }

.categories .multi-item-carousel .carousel-inner .active.right {
  left: 33%; }

.categories .multi-item-carousel .carousel-inner .next {
  left: 33%; }

.categories .multi-item-carousel .carousel-inner .prev {
  left: -33%; }

.categories .multi-item-carousel .carousel-control.left {
  background-image: none;
  padding-top: 40px;
  left: -100px !important; }

.categories .multi-item-carousel .carousel-control.right {
  background-image: none;
  padding-top: 40px;
  right: -100px !important; }

@media only screen and (max-width: 800px) {
  .slider {
    height: auto; }
    .slider #slider {
      height: auto;
      padding-top: 50px; }
      .slider #slider img {
        width: 150px;
        height: auto; }
      .slider #slider h3 {
        color: #FFFFFF;
        font-size: 25px;
        margin-right: px; }
      .slider #slider p {
        font-size: 12px; }
      .slider #slider a {
        color: #FFFFFF;
        text-transform: uppercase;
        border: 3px solid #FFFFFF;
        border-radius: 5px;
        font-weight: bold;
        font-size: 15px; }
      .slider #slider .btn {
        margin-bottom: 70px; }
  .categories .container {
    width: 90%; }
  .categories .category-heading {
    margin-top: 20px;
    font-size: 18px;
    margin-right: 0px; }
  .categories .btn {
    font-size: 13px; }
  .categories .cate {
    padding-top: 20px;
    padding-bottom: 20px;
    border-right: 1px solid lightgray;
    width: 33%; }
    .categories .cate:last-child {
      border-right: none; }
    .categories .cate .media img {
      margin-left: 00px;
      width: 70px;
      height: 70px; }
  .categories .multi-item-carousel .carousel-control.left {
    width: 50px;
    height: 30px;
    top: -20px;
    padding-top: 40px;
    left: -60px !important; }
  .categories .multi-item-carousel .carousel-control.right {
    width: 50px;
    top: -20px;
    height: 30px;
    padding-top: 40px;
    right: -60px !important; } }

@media only screen and (max-width: 600px) {
  .slider {
    height: auto; }
    .slider #slider {
      height: auto;
      padding-top: 50px; }
      .slider #slider img {
        width: 100px;
        height: auto; }
      .slider #slider h3 {
        color: #FFFFFF;
        font-size: 15px;
        margin-right: 0px;
        padding-top: -10px; }
      .slider #slider p {
        font-size: 10px; }
      .slider #slider a {
        color: #FFFFFF;
        text-transform: uppercase;
        border: 3px solid #FFFFFF;
        border-radius: 5px;
        font-weight: bold;
        font-size: 12px; }
      .slider #slider .btn {
        margin-bottom: 50px; }
  .categories .container {
    width: 90%; }
  .categories .category-heading {
    margin-top: 20px;
    font-size: 18px;
    margin-right: 0px; }
  .categories .btn {
    font-size: 13px; }
  .categories .cate {
    padding-top: 20px;
    padding-bottom: 20px;
    border-right: 1px solid lightgray;
    width: 33%; }
    .categories .cate:last-child {
      border-right: none; }
    .categories .cate .media img {
      margin-left: 00px;
      width: 70px;
      height: 70px; }
  .categories .multi-item-carousel .carousel-control.left {
    width: 50px;
    height: 30px;
    top: -20px;
    padding-top: 40px;
    left: -60px !important; }
  .categories .multi-item-carousel .carousel-control.right {
    width: 50px;
    top: -20px;
    height: 30px;
    padding-top: 40px;
    right: -60px !important; } }

.featured .heading {
  background: url("../img/feather.jpg");
  height: 70px;
  width: 100%; }
  .featured .heading h3 {
    width: 80%;
    color: white;
    text-transform: uppercase;
    font-size: 35px;
    margin-top: 17px; }

.featured .main-body {
  width: 100%;
  margin-top: 40px;
  text-align: center; }
  .featured .main-body .square {
    margin-bottom: 40px; }
  .featured .main-body .item {
    margin: auto;
    padding-top: 20px;
    width: 80%;
    border: 1px solid #cccccc;
    border-bottom: none; }
    .featured .main-body .item .thumbnail {
      border: none; }
    .featured .main-body .item span {
      padding: 10px;
      font-weight: bolder;
      font-size: 25px;
      color: #bababa; }
    .featured .main-body .item h3 {
      color: #adadad;
      font-size: 30px; }
  .featured .main-body .item-content {
    border-bottom: 4px solid #5CB85C;
    width: 100%;
    height: 100%; }
  .featured .main-body .btn {
    background: #91cf91;
    color: white;
    font-weight: bolder; }
    .featured .main-body .btn:hover {
      background: #5cb85c; }

@media only screen and (max-width: 800px) {
  .featured .heading {
    background: url("../img/feather.jpg");
    height: 50px;
    width: 100%; }
    .featured .heading h3 {
      width: 100%;
      color: white;
      text-transform: uppercase;
      font-size: 25px;
      margin-top: 14px;
      margin-bottom: 10px; }
  .featured .main-body .item {
    margin: auto;
    padding-top: 20px;
    width: 100%;
    border: 1px solid #cccccc;
    border-bottom: none; }
    .featured .main-body .item h3 {
      color: #adadad;
      font-size: 20px; } }

@media only screen and (max-width: 600px) {
  .featured .heading {
    background: url("../img/feather.jpg");
    height: 50px; }
    .featured .heading h3 {
      width: 100%;
      color: white;
      text-transform: uppercase;
      font-size: 20px;
      margin-top: 10px;
      margin-bottom: 10px; }
  .featured .main-body .item {
    margin: auto;
    padding-top: 20px;
    width: 100%;
    border: 1px solid #cccccc;
    border-bottom: none; }
    .featured .main-body .item h3 {
      color: #adadad;
      font-size: 20px; } }

#sitemaps {
  background-color: #00CAB6;
  padding: 40px 0px; }
  #sitemaps #map {
    width: 70%;
    margin: 0 auto; }
    #sitemaps #map p {
      font-family: opensan;
      font-weight: bold; }
  #sitemaps .container {
    color: white; }
    #sitemaps .container h4 {
      font-size: 2em;
      font-weight: bolder;
      padding-bottom: 10px; }

#copyright {
  background-color: #00AE9C; }
  #copyright p {
    font-family: opensan;
    padding: 15px;
    color: white;
    font-weight: bold;
    text-align: center;
    margin: 0px; }
